.contacts{
    background-color: rgba(160,200,140,0.8);
    height: calc(100vh - 75px);
}
.contacts__welcome{
    padding-top: 90px;
    font-size: 4rem;
    display: flex;
    margin: 0 auto;
}
.welcome__desc{
    display: inline-block;
    margin: 0 auto;
    font-family: "Sen";
    font-size: clamp(2rem, 2vw + 2rem,8rem);
    font-weight: bold;
    color: #171100;
}
.search-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.search-container__input{
    margin-top: 25px;
    border: 4px solid rgba(110,80,50);
    border-radius: 15px;
    width: 50vw;
    min-width: 350px;
    padding: 20px 0;
    border-radius: 17px;
    outline: 0;
    background: #f2f2f2;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    padding-left: 12px;
}
.search-container__input::placeholder {
  color: gray;
  padding-left: 12px;
  font-size: 2rem;
  font-style: italic;
  opacity: 1; 
}
.search-container__input:focus::placeholder {
  color: transparent; 
}
.search-container__func-name{
    font-size: clamp(0.8rem, 2vw + 1rem,2.5rem);
    font-weight: 600;
}
.functions__wrap{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.functions__cta{
    width: 210px;
    display: inline-block;
    font-size: clamp(0.8rem, 2vw + 1rem,2.5rem);
    padding: clamp(10px,1vw + 10px,30px);
    font-weight: 600;
    border: 0;
    background-color: rgba(110,80,50,1);
    border-radius: 15px;
    color: #f2f2f2;
}
.functions__cta:hover{
    transform: scale(1.15);
    background-color: rgb(158, 116, 74);
    transition: .2s;
}
.add-contacts__input{
    display: inline-block;
    border-radius: 17px;
    outline: 0;
    background: #f2f2f2;
    width: 40%;
    min-width: 300px;
    border: 0;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.add-contacts{
    position: relative;
}
.add-contacts__wrap{
    border: 4px solid rgba(110,80,50,1);
    overflow-y: auto;
    position: absolute;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:420px;
    padding: 30px;
    background-color: rgba(245,240,230);
    top: 50%;                 
    left: 50%;                
    transform: translate(-50%, 20%);
    display: none;
}
.add-contacts__cta{
    margin-top: 20px;
    width: 150px;
    display: inline-block;
    font-size: 2rem;
    padding: 15px;
    font-weight: 600;
    border: 0;
    background-color: rgba(110,80,50,1);
    border-radius: 15px;
    color: #f2f2f2;
}
.contacts-cta__cancel{
    color: #232323;
    background-color: #f2f2f2;
    border:3px solid #171100;
}
.contacts-cta__cancel:hover{
    background-color: #dedede;
}
.contacts-cta__add:hover{
    background-color: rgb(158, 116, 74);
}
.add-contact__sub-cta{
    display: flex;
    justify-content: space-between;
}
.tables {
    margin-top: 50px;
    width: 100%;
    table-layout: fixed;
    border-radius: 15px;
}
.table__wrap{
    height: 500px;
    overflow: auto;
}
#contacts td{
    border: 3px solid rgb(158, 116, 74);
}
#contacts th {
    padding: 25px 30px;
    font-family: "Lato";
    text-align: left;
    font-weight: 400;
    font-size: 3rem;
    font-weight: bold;
    color: rgba(245,240,230);
    background-color: rgb(158, 116, 74);
    text-transform: uppercase;
    text-align: center;
   
}
.table__edit {
    border-collapse: collapse;   
    border-top-left-radius: 23px;  
    border-top-right-radius: 23px;  
    border: 3px solid black;     
    border-spacing: 0;          
    overflow: hidden; 
    width: 100%;  
}


#contacts td {
    padding: 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
    font-size: 2rem;
    font-weight: bold;
    color: #66471b;
    background-color: rgba(245,240,230);
}
#contacts td span {
    display: inline-block;
    white-space: nowrap;
    font-size: 100%;
    color: #66471b;
}



.btn-edit,
.btn-save,
.btn-delete {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #66471b;;
  border-radius: 50%;   /* makes them round */
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: rgba(245,240,230); 
  transition: 0.3s;
}
.btn-edit i,
.btn-save i,
.btn-delete i {
  font-size: 20px;   /* icon size */
   color: #66471b;
}
/* .btn-edit {
  background-color: #95f199; 
  color: white;
}

.btn-save {
  background-color: #5daded;
  color: white;
} */
.btn-edit:hover,
.btn-save:hover,
.btn-delete:hover{
    transform: scale(1.3);  
}
.btn-delete {
  /* background-color: #f67d75; 
  color: white; */
  margin-left: 20px;
}

/* Responsive */
@media only screen and (max-width:800px){
   
    .contacts{
        height: calc(100vh - 70px);
    }
    .functions__wrap{
        margin-top: 15px;
    }
    .contacts__welcome{
        padding-top: 20px;
    }
    .search-container{
        margin-top: 15px;
    }
    .search-container__input{
        margin-top: 5px;
        padding: 8px 0;
        padding-left: 20px;
    }
    
}
@media only screen and (max-width:500px){
    
}
